/* Định dạng bảng */
.service-table-container {
  max-width: 100%;
  margin-bottom: 10px;
}
.head-service th {
  background-color: #0066ff;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}

.service-topbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  font-size: 14px;
  margin-bottom: 20px;
}
.service-table {
  border-collapse: collapse;
}
.service-dropdown {
  border-radius: 5px;
  border: outset rgba(0, 0, 0, 0.1);
  width: 25%;
  background-color: #ffffff;
  height: 60px;
  display: flex;
  align-items: center;
}
.service-table th,
.service-table td {
  border: 0.1px solid #e0e0e0;
  padding: 12px;
  text-align: left;
}

.service-table-actions {
  display: flex;
  justify-content: space-around;
}
.service-search-container {
  width: 30%;
}
.service-search-bar {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}
.dialog-title {
  font-size: 16px;
  font-weight: bold;
}

.dialog-content {
  margin-top: 10px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}
.select {
  margin-bottom: 10px;
  margin-top: 5px;
}

.search-text {
  padding-left: 10px;
  width: 30%;
}
.service-search-price {
  margin: 15px;
}
.select-type-label {
  width: 100%;
}
