/* Định dạng bảng */
.serviceCen-table-container {
  max-width: 100%;
  margin-bottom: 10px;
}
.head-serviceCen th {
  background-color: #0066ff;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}
.serviceCen-table {
  border-collapse: collapse;
}
.serviceCen-search-bar {
  position: static;
  max-width: 88%;
  background-color: #ffffff;
  left: 170px;
  top: -20px;
}
.serviceCen-table th,
.serviceCen-table td {
  border: 0.1px solid #e0e0e0;
  padding: 12px;
  text-align: left;
}

.serviceCen-table-actions {
  display: flex;
  justify-content: space-around;
}

.dialog-title {
  font-size: 20px;
  font-weight: bold;
}

.dialog-content {
  margin-top: 10px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}
.select-center-label {
  width: 100%;
}
