/* Định dạng bảng */
.account-table-container {
  max-width: 100%;
  margin-bottom: 10px;
}
.head-account th {
  background-color: #0066ff;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
}
.body-account td {
  font-size: 12px;
}
.account-table {
  border-collapse: collapse;
}
.account-table th,
.account-table td {
  border: 0.1px solid #e0e0e0;
  padding: 12px;
  text-align: left;
}
.account-search-bar .MuiInputBase-input {
  font-size: 13px !important;
}
.account-table-actions {
  display: flex;
  justify-content: space-around;
}

.dialog-title {
  font-size: 16px;
  font-weight: bold;
}

.dialog-content {
  margin-top: 10px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}
.select {
  margin-bottom: 10px;
  margin-top: 5px;
}
.account-topbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.account-search-container {
  padding-bottom: 6px;
  width: 30%;
}

.account-search-bar {
  background-color: #ffffff;
  border-radius: 8px;
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.account-dropdown {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  min-height: 52px;
  margin-bottom: 7px;
  align-items: center;
}

/* Căn giữa chữ "Vai trò" và định dạng font-size */
.account-dropdown .MuiInputLabel-root {
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 13px !important;
}

/* Định dạng font-size cho các mục trong dropdown */
.account-dropdown .MuiMenuItem-root {
  font-size: 13px !important;
}
